.coin-details-container {
  gap: 4em;
  display: flex;
  padding: 10em 0;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 -9px 35px rgb(0 0 0 / 25%);
  background-image: linear-gradient(rgba(47, 47, 52, 0.8), #30333c), url('../assets/images/bg.jpg');
}

.coin-details-container > * {
  color: #fff;
}

.back-btn {
  width: 65vw;
  margin: 0 auto;
}

.back-btn > button {
  display: flex;
  padding: 0.6em;
  color: #fff;
  font-size: 1.3em;
  border-radius: 100%;
  align-items: center;
  background: transparent;
  box-shadow: 0 2px 10px black;
}

.coin-details {
  width: 65vw;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.coin-stats > div {
  display: flex;
  justify-content: space-between;
}

.coin > div {
  gap: 0.3em;
  width: 18em;
  display: flex;
  padding: 1em 0;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 11px 14px 5px rgb(0 0 0 / 25%);
  background: #30333c;
}

.coin-details > div:first-child {
  display: flex;
  justify-content: space-between;
}

.other-stats {
  width: 35em;
  display: flex;
  padding: 1em 0;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 11px 14px 5px rgb(0 0 0 / 25%);
  background: #30333c;
}

.other-stats > div:first-child {
  gap: 1em;
  width: 100%;
  display: flex;
  padding: 1em 2em;
  flex-direction: column;
}

.coin {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.coin > div:first-child {
  gap: 1.3em;
  padding: 2em 0;
}

.coin img {
  width: 10em;
}

.name {
  font-size: 1.4em;
  font-weight: 600;
  justify-content: space-between;
  text-shadow: 2px -3px 0 rgb(0 0 0 / 55%);
  filter: drop-shadow(1px 2px 4px black);
}

.other-stats-info {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  filter: drop-shadow(1px 2px 4px black);
}

.other-stats-info p {
  gap: 0.8em;
  display: flex;
}

.other-stats-info p:nth-child(2) {
  color: #bbb;
}

.visit {
  color: #bbb;
  text-decoration: none;
}

.stats-title {
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
  padding: 4em 0 2em 0;
  text-shadow: 2px -5px 0 rgb(0 0 0 / 55%);
  filter: drop-shadow(1px 2px 4px black);
}

.coin-stats {
  gap: 2em;
  display: flex;
  padding: 3em;
  border-radius: 1em;
  background: #30333c;
  flex-direction: column;
  box-shadow: 0 11px 14px 5px rgb(0 0 0 / 25%);
}

.stats-name {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 2px 4px black);
}

.stats-name > span:first-child,
.other-stats-info span:first-child {
  font-size: 1.3em;
  color: cornflowerblue;
}

.stats-name > span:nth-child(2) {
  font-weight: 500;
}

.value {
  color: #bbb;
  font-weight: 500;
  filter: drop-shadow(1px 2px 4px black);
}

@media screen and (max-width: 768px) {
  .coin-details {
    width: 90vw;
    flex-direction: column;
  }

  .coin {
    align-self: center;
  }

  .coin > div,
  .other-stats,
  .coin-stats {
    border: 1px solid #0000217d;
    border-radius: 0;
    background: #30333c;
  }

  .coin-details > div {
    gap: 2em;
    flex-direction: column;
  }

  .other-stats > div:first-child {
    padding: 1em;
  }

  .other-stats {
    width: 100%;
  }

  .other-stats-info {
    font-size: 0.9em;
  }

  .coin-stats {
    padding: 2em 1em;
  }

  .stats-name {
    font-size: 0.8em;
  }

  .value {
    font-size: 0.8em;
  }
}
