header {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  padding: 1em 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inner_header {
  display: flex;
  height: 13em;
  width: 100%;
  padding: 0 5em;
  border-radius: 1em;
  align-items: center;
  background: var(--brand);
  justify-content: space-between;
  box-shadow: 0 10px 10px -7px var(--surface-shadow2);
}

.inner_header > div {
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.inner_header h2 {
  color: var(--text1);
  font-weight: 600;
  filter: drop-shadow(2px 2px 2px var(--surface-shadow2));
}

.inner_header p {
  font-weight: 500;
  line-height: 25px;
  color: var(--text1);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.inner_header img {
  width: 18em;
}

form {
  display: flex;
  width: 28vw;
  height: 3em;
  padding: 1em;
  color: var(--text1);
  border-radius: 5px;
  align-items: center;
  background: transparent;
  border: 1px solid var(--text2);
  box-shadow: 2px 2px 6px -1px rgb(0 0 0 / 25%), -2px -2px 4px 0 rgb(178 178 178 / 30%);
}

form svg {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text2);
}

#name {
  flex: 1;
  height: 3em;
  border: none;
  background: transparent;
}

#name::placeholder {
  color: var(--text1);
  letter-spacing: 1px;
}

#name:focus {
  outline: none;
  filter: none;
  font-weight: 500;
  color: var(--text1);
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  #name {
    width: 80vw;
  }
}
