.header-container {
  gap: 5em;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 15em 0;
  text-align: center;
  flex-direction: column;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 -9px 35px rgb(0 0 0 / 25%);
  background-image: linear-gradient(rgba(0, 0, 33, 0.8), #3033b9), url('../assets/images/bg.jpg');
}

.quote {
  color: #eee;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px -5px 0 rgb(0 0 0 / 55%);
  filter: drop-shadow(1px 2px 4px black);
}

#name {
  box-shadow: 0 8px 6px -5px black;
  width: 40%;
  color: #fff;
  height: 7vh;
  border: 1px solid #aaa;
  background: transparent;
  padding: 1em;
  border-radius: 2em;
  filter: drop-shadow(2px 4px 6px black);
}

#name:focus {
  outline: none;
  color: #fff;
  letter-spacing: 2px;
  filter: none;
  background-color: rgba(0, 0, 0, 0.122);
}
