.homepage-container {
  margin-left: 15vw;
}

main {
  width: 80vw;
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 6em;
}

.global-data {
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.global-data-card {
  gap: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--surface3);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  box-shadow: 0 6px 6px -5px var(--surface-shadow4);
}

.labels > p {
  flex: 1;
  display: flex;
  color: var(--text0);
}

.inner_card > p {
  flex: 1;
  display: flex;
  font-weight: 500;
  color: var(--text2);
}

.global-data-card > p:first-child {
  width: 100%;
  padding: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  background: var(--brand);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.554));
}

.global-data-card > p:nth-child(2) {
  padding: 1em;
  font-weight: 500;
  letter-spacing: 4px;
  color: var(--text2);
  text-shadow: 3px -1px 0 var(--surface1);
  filter: drop-shadow(1px 0 2px var(--surface2));
}

.labels {
  display: flex;
  font-size: 1.1em;
  font-weight: 600;
  padding: 1em 2em;
  letter-spacing: 1px;
  background: var(--surface4);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  justify-content: space-between;
  text-shadow: 3px 1px var(--surface1);
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.554));
}

.labels > p:nth-child(2) {
  flex: 3;
}

.currencies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.currency_btn {
  border: none;
}

.currency_btn:nth-child(odd) {
  background: var(--surface5);
}

.currency_btn:nth-child(even) {
  background: var(--surface3);
}

.inner_card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.9em 2.5em;
  justify-content: space-between;
}

.inner_card > div {
  flex: 3;
  gap: 1em;
  display: flex;
  align-items: center;
}

.inner_card .rank {
  gap: 0.3em;
  display: flex;
  font-weight: 700;
  font-size: 1.1em;
  align-items: center;
  filter: drop-shadow(0 1px 1px var(--surface-shadow1));
}

.inner_card img {
  width: 3em;
}

.inner_card .name {
  font-size: 1.1em;
  font-weight: 500;
  text-shadow: none;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.559));
}

.inner_card .symbol {
  font-size: 0.9em;
  color: var(--text4);
}

@media screen and (max-width: 768px) {
  .currencies {
    gap: 2em;
  }

  .coin-card {
    width: 80vw;
  }
}
