.navbar-container {
  gap: 1em;
  width: 100%;
  display: flex;
  color: #fff;
  padding: 1.75em;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  box-shadow: 0 10px 10px -5px black;
}

.navlinks {
  gap: 3em;
  display: flex;
  list-style-type: none;
}

.navItem > a {
  color: #aaa;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: 5px;
  text-shadow: 2px -4px 0 rgb(0 0 0 / 55%);
  filter: drop-shadow(1px 2px 4px black);
}
