.navbar-container {
  gap: 1em;
  top: 0;
  left: 0;
  width: 17vw;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 0 15px var(--surface-shadow1);
  background: var(--surface3);
}

.navlinks {
  gap: 3em;
  display: flex;
  list-style-type: none;
}

.navItem > a {
  gap: 0.5em;
  color: #aaa;
  display: flex;
  font-weight: 700;
  letter-spacing: 5px;
  text-decoration: none;
  text-shadow: 3px -1px 0 var(--surface1);
  filter: drop-shadow(1px 0 2px var(--surface2));
}

.navItem svg {
  color: var(--brand);
}

.activelink {
  color: var(--brand) !important;
}
